.payment-status-container {
    text-align: center;
    padding: 50px;
}

.payment-status-success {
    color: green;
    font-size: 2.5rem;
    font-weight: bold;
}

.payment-status-failed {
    color: red;
    font-size: 2.5rem;
    font-weight: bold;
}

.back-to-home {
    margin-top: 20px;
    display: inline-block;
    font-size: 1.2rem;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

